<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salary.dao.UserDao">


    <select id="getAll" resultType="user">
        select * from user where del=0
    </select>

    <insert id="addUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,email,name,age,gender,phone,departmentId,RegisterTime)
                    values(#{username},#{password},#{email},#{name},#{age},#{gender},#{phone},#{departmentId},NOW())
    </insert>

    <update id="removeUser" parameterType="Long">
        UPDATE user set Del=1 WHERE id=#{id}
    </update>

    <select id="getPassword" parameterType="String" resultType="String">
       select password from user where username=#{username}
    </select>

    <select id="findUserById" parameterType="Long" resultType="user">
        select * from user where Del=0 and id=#{userId}
    </select>

    <select id="findUserByUsername" parameterType="String" resultType="user">
        select * from user where username=#{username}
    </select>


</mapper>